.four-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.four-products__image {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
    .four-product-section {
        padding: 1rem 0 4rem 0;
    }
    .four-products {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }
}

@media only screen and (min-width: 1200px) {
}
