.signup-container {
    text-align: center;
    color: var(--purple);
}
.signup-container .large-text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    color: var(--primary);
    text-shadow: 2px 2px 0px var(--secondary);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--secondary);
}
.signup-container .large-text .outline {
    -webkit-text-fill-color: var(--cyan);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--purple);
    text-shadow: 2px 2px 0px var(--purple);
    text-decoration: none;
}
.signup-container .large-text .outline:hover,
.signup-container .large-text .outline:focus {
    -webkit-text-fill-color: var(--orange);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--secondary);
    text-shadow: 2px 2px 0px var(--secondary);
}

.signup-container .or {
    margin: 15px 0 15px 0;
    font-weight: 700;
    font-size: 20px;
}

.newsletter form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 500px;
    margin: 40px auto 0 auto;
}
.newsletter form .input-box {
    border: 2px solid var(--purple);
    padding: 0.75rem 0.75rem;
    background-color: transparent;
    width: 65%;
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    appearance: none;
    border-radius: 0px;
    text-transform: uppercase;
    color: var(--purple);
}
.newsletter form .input-box::placeholder {
    color: var(--purple);
}
.newsletter form .input-box:hover,
.newsletter form .input-box:focus {
    outline: none;
}

.newsletter form .submit-button {
    border: 2px solid var(--purple);
    width: 35%;
    padding: 0.75rem 1.5rem;
    background-color: var(--purple);
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    -webkit-appearance: none;
    border-radius: 0px;
    color: var(--background);
    font-size: 16px;
}
.newsletter form .submit-button:hover,
.newsletter form .submit-button:focus {
    background-color: transparent;
    color: var(--purple);
    cursor: pointer;
    border-left: none;
}

@media only screen and (min-width: 768px) {
    .newsletter form {
        max-width: 700px;
    }
    .signup-container .large-text {
        font-size: 48px;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: var(--secondary);
    }
    .signup-container .large-text .outline {
        -webkit-text-fill-color: var(--cyan);
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: var(--purple);
    }
    .signup-container .large-text .outline:hover,
    .signup-container .large-text .outline:focus {
        -webkit-text-fill-color: var(--orange);
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: var(--secondary);
    }
    .newsletter form {
        margin: 50px auto 0 auto;
    }
}
