:root {
    /* --primary: #ffe01c; */
    --primary: #ffda35;
    --secondary: #242f40;
    --background: #f6f7eb;
    --dark-text: #424249;
    --dark-background: #2a3d45;
    --turquoise: #addfcf;
    --cyan: #73d2de;
    --blue: #5aa9da;
    --pink: #e78eba;
    --olive: #aca81a;
    --orange: #f39239;
    --purple: #792359;
    --kakhi: #847b51;
    --white: #e9e8e8;
    --cream: #fcf5c7;
    --red: #fa9092;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--background);
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
    /* overflow: auto; */
}

section {
    padding: 3rem 0;
}
section:first-of-type {
    padding-top: 4rem;
}
section:last-of-type {
    padding-bottom: 4rem;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
