footer {
    padding: 3rem 0;
}
footer .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 30px;
    row-gap: 30px;
}
footer .footer-container .footer-column-title {
    display: block;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secondary);
    position: relative;
    width: 100%;
}

footer .footer-container .links a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--secondary);
    position: relative;
    width: fit-content;
    z-index: 2;
}
footer .footer-container .links a:hover,
footer .footer-container .links a:focus {
    outline: none;
}

footer .footer-container .links a:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0%;
    left: -0.1em;
    right: -0.1em;
    bottom: -2px;
    transition: top 200ms cubic-bezier(0, 0.8, 0.18, 1);
    background-color: var(--background);
}
footer .footer-container .links a:hover,
footer .footer-container .links a:focus {
    color: var(--dark);
}
footer .footer-container .links a:hover:after,
footer .footer-container .links a:focus:after {
    background-color: var(--primary);
}

/* Copyright */
footer .copyright {
    text-align: center;
    margin-top: 3rem;
}
footer .copyright span {
    display: block;
}
footer .copyright span a {
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--secondary);
    position: relative;
    width: fit-content;
    z-index: 2;
}
footer .copyright span a:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 75%;
    left: -0.1em;
    right: -0.1em;
    bottom: -2px;
    transition: top 200ms cubic-bezier(0, 0.8, 0.18, 1);
    background-color: var(--pink);
}
footer .copyright span a:hover:after,
footer .copyright span a:focus:after {
    top: 0%;
}

@media only screen and (min-width: 600px) {
    footer .footer-container {
        grid-template-columns: repeat(3, 1fr);
    }
    /* footer .copyright {
        text-align: center;
    } */
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
