.colour-block-signup {
    background-color: var(--dark-background);
    /* background-color: #e5e4e2; */
    width: 100%;
    padding: 2rem 0;
}

.colour-block-signup .wrapper {
    position: relative;
}

.signup-container .newsletter {
    padding: 3rem 0;
}
.signup-container .newsletter a {
    text-decoration: none;
    color: var(--background);
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-family: 'Acme', sans-serif;
    word-spacing: 4px;
}
.signup-container .newsletter h2 {
    font-size: 23px;
}
.signup-container .newsletter a:hover,
.signup-container .newsletter a:focus {
    color: var(--pink);
    outline: none;
}

.weekly {
    position: absolute;
    top: -48px;
    right: 17px;
    padding: 5px 10px 8px 10px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--cyan);
    transform: rotate(3deg);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

@media only screen and (min-width: 600px) {
    .signup-container .newsletter h2 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 768px) {
    .signup-container div {
        text-align: center;
    }
    .signup-container .newsletter h2 {
        font-size: 38px;
    }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
