.colour-block-signup {
    background-color: var(--dark-background);
    width: 100%;
    padding: 2rem 0;
}

.signup-container {
    display: flex;
    flex-direction: column;
}
.signup-container div {
    text-align: center;
    padding: 1.5rem 0;
}
.signup-container .newsletter h2 {
    font-size: 23px;
}
.signup-container .newsletter a {
    text-decoration: none;
    color: var(--background);
}
.signup-container .newsletter a:hover,
.signup-container .newsletter a:focus {
    color: var(--primary);
    outline: none;
}

@media only screen and (min-width: 600px) {
    .signup-container .newsletter h2 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .signup-container {
        flex-direction: row;
        justify-content: center;
    }
    .signup-container div {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
