.socialSignup-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 20px;
    row-gap: 50px;
}
/* .socialSignup-container div {
    border: 1px solid red;
    background-color: var(--dark-background);
    padding: 10px;
    color: var(--background);
} */
.socialSignup-container .section-title {
    color: var(--purple);
    text-shadow: 2px 2px 0px var(--cyan);
}
.socialSignup-container p {
    font-family: 'Libre Baskerville', serif;
}

@media only screen and (min-width: 992px) {
    .socialSignup-container {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        -webkit-column-gap: 30px;
        column-gap: 30px;
        row-gap: 30px;
    }
}
