.trends-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 30px;
    row-gap: 30px;
}

.trends-container .trend-item a:focus {
    outline: none;
}
.trends-container .trend-item a .img-container {
    overflow: hidden;
    position: relative;
}
.trends-container .trend-item a .img-container:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.trends-container .trend-item a .img-container:hover img,
.trends-container .trend-item a .img-container:focus img {
    transform: scale(1.1);
    object-fit: cover;
}

.trends-container .trend-item a .img-container img {
    width: 100%;
    /* height: 1000px; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-position: center;
    object-fit: cover;
    transition: transform 0.5s ease;
    position: absolute;
}

.trends-container .trend-item a span {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 5px 7px 5px 7px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Acme', sans-serif;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--dark-text);
}
/* .trends-container .trend-item:nth-of-type(1) a span {
    transform: rotate(2deg);
}
.trends-container .trend-item:nth-of-type(2) a span {
    transform: rotate(-2deg);
} */

.trends-container .trend-item a:hover span,
.trends-container .trend-item a:focus span {
    border: 2px solid var(--purple);
    background-color: var(--purple);
    color: var(--cyan);
}

@media only screen and (min-width: 600px) {
    .trends-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .trends-container {
        -webkit-column-gap: 40px;
        column-gap: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .trends-container .trend-item a span {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
}
